* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed header from class to an element selector */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* A Hero Image is a large image with text, often placed at the top of a webpage: */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg" );
    background-size: cover;
    background-position: center;
}

/*changed content to an id #*/
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*combined all 3 content sections into one class*/
/*moved content classes and content img classes up page under banner*/
.search-olm-smm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* combined 3 content section image classes */
.search-olm-smm img {
    max-height: 200px;
}

/* combined 3 content section h2 classes */
.search-olm-smm h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* combined .benefits removed lead brand and cost */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* didn't realize these 2 (above/below) were different benefit(s*)  */
/* put them together and it worked but not sure if they should be combined */
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

/* combined benefit h3 */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* combined benefit img */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed footer from div with class to footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
